.search-section {
  margin-bottom: 25px; 
  font-family: "Asap";
}
option {
  font-family: "Asap";
}
.search-box {
  display: flex;
  margin-bottom: 20px; 
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px; 
  background-color: white;
  outline: none;
}

.search-input::placeholder {
  color: #666; /* Màu placeholder */
}

.filter-box {
  display: flex;
  justify-content: space-between;
}

.filter-select {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px; 
  background-color: white;
}
.select{
    border: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Asap';
}
